<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Mia</title>
    <link rel="stylesheet" href="app/stylesheets/aboutInterns.css">
</head>
<body>
    <h1 class="aboutTitle">About Mia Froehling Gallier</h1>
    <div class="about-row">
        <div class="imageContainer">
            <div class="image" ng-hide="currentImg != 0">
                <img ng-src={{miaImage}}>
            </div>
            <div class="image" ng-hide="currentImg != 1" >
                <img ng-src={{img1}}>
            </div>
            <div class="image" ng-hide="currentImg != 2">
                <img ng-src={{img2}}>
            </div>
            <div class="image" ng-hide="currentImg != 3">
                <img ng-src={{img3}}>
            </div>

            <div class="slider-nav">
                <a class="arrow-prev" ng-click="prevClick()">
                    <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png">
                </a>
                <ul class="slider-dots">
                    <li class="dot" ng-class="{'active-dot': currentImg == 0}">&bull;</li>
                    <li class="dot" ng-class="{'active-dot': currentImg == 1}">&bull;</li>
                    <li class="dot" ng-class="{'active-dot': currentImg == 2}">&bull;</li>
                    <li class="dot" ng-class="{'active-dot': currentImg == 3}">&bull;</li>
                </ul>
                <a class="arrow-next" ng-click="nextClick()">
                    <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png">
                </a>
            </div>
        </div>
        <div class="aboutInfo">
            <div class="about">
                <p>
                    <b>School:</b> University of Pennsylvania<br>
                    <b>Graduation Date:</b> May 2017<br>
                    <b>Major:</b> Cognitive Science & Computer Science<br>
                    <b>Hobbies:</b> Hiking, reading, baking, cooking, tennis.<br>
                    <b>What I learned during this internship:</b> Over the course of the summer, I had the opportunity to learn
                    a lot of new skills including angularjs, html, css, groovy and ruby. I also had the chance to use skills that I
                    already had and improve on them, ie. learning new commands in Linux, working in java and agile! I also gained more exposure to
                    databases and rally.</br>
                    <b>What I loved about this internship:</b> The people are really what the make the office great and enjoyable environment to work in. I'll miss
                    our daily standups and the banter that comes with it. </br>
                </p>
            </div>
            <div class="social_nav_bar" >
                <a class="link" href="https://www.linkedin.com/in/mia-froehling-gallier-03761495" target="_blank" title="linkedin" alt="linkedin">
                    <span class="fa-stack fa-1x">
                        <i class= "fa fa-linkedin fa-stack-1x" aria-hidden="true"></i>
                        <i class= "fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                    </span>
                </a>
                <a class="link" href="https://github.com/miafg" target="_blank" title="github" alt="github">
                    <span class="fa-stack fa-1x">
                        <i class= "fa fa-github fa-stack-1x" aria-hidden="true"></i>
                        <i class= "fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                    </span>
                </a>
                <a class="link" ng-href={{email}} title="email" alt="email">
                    <span class="fa-stack fa-1x">
                        <i class= "fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
                        <i class= "fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                    </span>
                </a>
                <a class="link" href="http://miafroehlinggallier.com/#/" title="personal website" alt="personal website" target="_blank">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <i class= "fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!-- Modules -->
    <script src="../app.js"></script>
    <script src="../controllers/mia.js"></script>
</body>
</html>