p {
    height: auto;
}

.fa {
    color: black;
}

.link {
    text-decoration: none;
}

.link:hover, .link:active, .link:visited, .link:focus {
    text-decoration: none;
}

.link:hover{
    z-index: 99999;
}