p {
    height: auto;
}

.fa {
    color: black;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

.link:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}